/*!: Selectores */
body {
    margin: 0;
    /*? Elimina el espacio por defecto*/
    font-family: Arial, Helvetica, sans-serif;
}

/** Selector de Clase*/
.container {
    padding: 20px;
    /** Espacio interno*/
}

/*! Selector por ID (ejemplo, no usado en el HTML) */
#ejemplo {
    color: blueviolet;
}

/** Selector descendente*/
.header_title {
    color: indianred;
}

/*? Aplica para el h1 dentro de header*/

/** Selector multiple*/
h2,
p {
    margin-bottom: 10px;
}

/*todo: Modelo de Caja*/
.card {
    border: solid 2px rgb(227, 150, 150);
    /*? Borde */
    padding: 15px;
    /*? Espacio interno*/
    margin: 10px 0;
    /*? Espacio externo */
    width: 200px;
    /*? ancho */
}

/*todo: BEM */
/*? Bloque: card*/
/*? Elemento: card_title*/
/*? Modificador : card--highlight*/

.card_title {
    front-size: 18px
}

.card--highlight {
    background-color: red;
    color: white;
}

/*todo: Propiedades */
/*? Position*/
.header {
    position: relative;
    /*? Posicion relativa*/
}

.header_title {
    position: absolute;
    /*? Posicion absoluta*/
    top: 0;
    right: 0;
}

/*todo: Display */
.main {
    display: flex;
    /*? Coloca los elementos en fila*/
    gap: 10px;
    /*? Espacio entre elementos*/
}

/*todo: GRID */
.footer {
    display: grid;
    /*? Activa el grid*/
    grid-template-columns: 1fr 1fr;
    /*? 2 Columnas iguales*/
    background-color: cornflowerblue;
    padding: 20px;
}

/** Extra*/
header {
    background-color: lightblue;
    padding: 20px;
}